/* Reset styles */
* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    
}


dialog::backdrop {
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    }
/* :root {
  --color-backdrop: red;
}

::backdrop {
  --color-backdrop: red;
}

dialog::backdrop {
  background: var(--color-backdrop);
} */

/* ::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
} */

dialog {
    background-color: white;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* styling */
#container {
    background-color: pink; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;

}

#container > div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    height: 10em;
    width: 10em;
}

