/* Reset styles */
* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* styling */
#container {
    background-color: pink; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;

}

#container > div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    height: 10em;
    width: 10em;
}

dialog {
    background-color: blue;
}